[Unit]
Description=Close Button Watcher
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /opt/afra_door/close_button_watcher.py

[Install]
WantedBy=multi-user.target
